@import 'tech';
@import 'framework';

// header
header {
    width: 95vw;
    margin: auto;
    max-width: 1400px;

    .logo {
        font-size: 40pt;
        position: relative;

        &::after {
            content: 'Art Exhibit';
            position: absolute;
            right: 0px;
            bottom: -0.5em;
            display: block;
            font-size: 12pt;
        }

    }

    nav {
        font-size: 14pt;

        a {
            color: black;
            text-decoration: none;

            &+a {
                margin-left: 2rem;
            }
        }
    }
}

// main
main {
    min-height: 75vh;
    max-width: 1400px;
    margin: auto;

    .call-to-action {
        // padding-top: 2rem;
        position: relative;
        height: 75vh;

        .cta-content {
            width: 35%;

            h1 {
                font-size: 38pt;
                line-height: 50pt;
                margin-bottom: 1rem;
                // text-align: justify;
            }

            p {
                margin-top: 1em;
            }

            button {
                margin-top: 1em;
                width: 100%;
                background: rgba($primary, 65%);
                color: $black;
                font-weight: 100;
                transition: background ease 230ms;

                &:hover {
                    background: rgba($primary, 85%);
                    cursor: pointer;
                }
            }
        }

        .cta-ill {
            display: flex;

            img {
                &+img {
                    padding-left: 5px;
                }

                &:nth-child(4) {
                    padding-left: 0px;
                }
            }
        }
    }

    .ex-stats {
        height: auto;

        .ex-stats-art {
            position: relative;
            width: 100%;
            max-width: 700px;
            top: 0px;
            left: 0px;
            display: inline-block;
            height: 315vh;

            img {
                position: sticky;
                top: 4rem;
                left: 0px;
                display: inline-block;
                width: 100%;
            }
        }

        .ex-stats-content {
            align-self: stretch;
            flex: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            align-content: center;

            .fact {
                align-self: stretch;
                padding-top: 25vh;
                padding-bottom: 50vh;

                h1 {
                    font-size: 128pt;
                    line-height: 150pt;
                    color: $black;
                }

                h2 {
                    font-weight: 100;
                    font-size: 40pt;
                }

                ul,
                li {
                    list-style-type: none;
                    list-style-position: inside;
                    margin: 0;
                    padding: 0;
                }

                li {
                    padding: 1em 1em;
                    font-size: 16pt;
                    background: rgba($black, 2%);
                    margin: 0.5em 0;
                    display: block;
                }

                &:nth-child(2) {
                    padding-bottom: 25vh;
                }

                &:last-child {
                    padding-bottom: 25vh;

                }
            }
        }
    }

    .about-cta {
        margin-top: 12em;
        margin-bottom: 10em;

        h1 {
            font-size: 46pt;
        }

        button {
             margin-top: 1em;
            //  width: 100%;
            background: rgba($primary, 65%);
            color: $black;
            font-weight: 100;
            transition: background ease 230ms;

            &:hover {
                background: rgba($primary, 85%);
                cursor: pointer;
            }
        }
    }
}

// footer
footer {
    margin-top: 8em;
    width: 100%;
    background: rgba($black, 15%);
    // padding: 1em 0;

    .logo {
        font-size: 25pt;
        position: relative;

        &::after {
            content: 'Art Exhibit';
            position: absolute;
            right: 0px;
            bottom: -0.5em;
            display: block;
            font-size: 8pt;
        }
    }

    .footer-content,
    .legal {
        width: 100%;
        padding: 0 2.5rem;

    }

    .footer-content {
        padding: 2rem 0rem;

        .quick-links {
            h5 {
                text-transform: uppercase;
                color: rgba($black, 50%);
                font-size: 14pt;
                margin-bottom: 0.5em;
            }

            a {
                // margin-left:0.5em;
                text-decoration: none;

                &+a {
                    margin-top: 1em;
                }

                i {
                    margin-right: 0.5em;
                }
            }
        }
    }

    .legal {
        padding: 1rem 0;
        background: rgba($black, 20%);

        p {
            &+p {
                margin-left: 5rem;
            }
        }
    }
}